/* CSS declarations go here */
.bodyContainer{
  padding-left: 6px;
}

.createH2{
    margin-bottom: 5px;
}
.createEditForm {

  margin-left: 25px;
  margin-right: 100px;
  padding: 0px 0px 15px;
  position: relative;
}

.gardenLink {

  color: #FFFFFF;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  width: 85px;
  white-space: nowrap;
}


.gardenListArea {
  background-color: rgb(120,72,0);
  border-color: brown;
  border-radius: 10px;
  border: 1px solid;
  display: inline-block;
  margin-left: 0;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.help-block{
  margin-top: -20px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 25px;
    height: 25px;

}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
   margin-left: 0px;
}

.navbar-right {
  margin-right: 0px;
}

.plantLink {

  color: #FFFFFF;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  width: 85px;
  white-space: nowrap;

}


.plantsListArea {
  background-color: rgb(0, 151, 96);
  border-color: green;
  border-radius: 10px;
  border: 1px solid;
  display: inline-block;
  margin-left: 0;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
