<template name="gardensTemplate">
    {{>createGardens}}
</template>

<template name="createGardens">

    There have been <b>{{gardensCount}}</b> gardens created. <br>
    {{>gardenList}}

    <div class="createEditForm">
        <h2 class="createH2">Create a new Garden</h2>
        <form class="form-horizontal" id="new-garden">
            <div class="form-group">
                <label for="gardenNameInput" class="col-sm-2 control-label">Garden Name: </label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control" id="gardenNameInput" maxlength="25" name="gardenNameForm" placeholder="Name of new garden" required/>
                </div>
                <p class="help-block"></p>
            </div>
            <div class="form-group">
                <label for="gardenLengthInput" class="col-sm-2 control-label">Length: </label>
                <input type="text" class="form-control" id="gardenLengthInput" maxlength="2" name="lengthForm" placeholder="In Feet" required/>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <label for="gardenWidthInput" class="col-sm-2 control-label">Width: </label>
                <input type="text" class="form-control" id="gardenWidthInput" maxlength="25" name="widthForm" placeholder="In Feet" required/>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="toggle-checked" name="monitoredCheckbox"> <strong>Is monitored</strong>
                        </label>
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="toggle-checked" name="automatedCheckbox"> <strong>Is Automated</strong>
                        </label>
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>

            <p>
                <button type="submit" id="saveGarden" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save Garden</span>
                </button>
            </p>
        </form>
    </div>

</template>

<template name="gardenDetailsTemplate">
    <h2 id="gardenH2Title">{{gardenName}} </h2>
    <p>Created at: {{formatTime createdAt}} </p>
    <p>Last edited at:{{formatTime editedAt}} </p>
    <p>Length: {{gardenLength}}</p>
    <p>Width: {{gardenWidth}}</p>



    <a href="{{pathFor 'editGardenDetails.show' }} ">Edit garden?</a>
</template>

<template name="gardenList">
    {{#each gardens}}
        <div class="gardenListArea">
            <a class="gardenLink" href="{{pathFor 'gardenDetails.show' }} ">{{gardenName}}</a>
        </div>
	{{/each}}
</template>


<template name="editGardenDetailsTemplate">


   {{>gardenDetailsTemplate}}


    <div class="createEditForm">
        <h2 class="createH2">Create a new Garden</h2>
        <form class="form-horizontal" id="new-garden">
            <div class="form-group">
                <label for="gardenNameInput" class="col-sm-2 control-label">Garden Name: </label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control" id="gardenNameInput" maxlength="25" name="gardenNameForm" placeholder="{{gardenName}}" required/>
                </div>
                <p class="help-block"></p>
            </div>
            <div class="form-group">
                <label for="gardenLengthInput" class="col-sm-2 control-label">Length: </label>
                <input type="text" class="form-control" id="gardenLengthInput" maxlength="2" name="lengthForm" placeholder="{{gardenLength}}" required/>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <label for="gardenWidthInput" class="col-sm-2 control-label">Width: </label>
                <input type="text" class="form-control" id="gardenWidthInput" maxlength="25" name="widthForm" placeholder="{{gardenWidth}}" required/>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="toggle-checked" name="monitoredCheckbox"> <strong>Is monitored</strong>
                        </label>
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="toggle-checked" name="automatedCheckbox"> <strong>Is Automated</strong>
                        </label>
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <button type="submit" id="saveGarden" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save Garden</span>
            </button>
            <button type="button" id="deleteGarden" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete Garden</span>
            </button>

        </form>



    </div>



</template>
