<template name="plantsTemplate">
  <div class="main ui container">
    <div class="ui segment">
      {{>plantShowTemplate}}
    </div>
  </div>
</template>
<template name="plantShowTemplate">
  <h2 class="ui dividing header">Plants </h2>
  <div class="ui five cards">
    {{>plantListTemplate}}
  </div>
  <p></p>
  <a class="right circular red ui icon button" data-content="Add a Plant" id="addPlant" href="{{pathFor 'createPlantsTemplate.show' }}"><i class="add icon"></i></a>
</template>
<template name="plantListTemplate">
  {{#each plants}}
    <div class="card">
      <div class="content">
        <i class="right floated green tree icon"></i>
        <a class="header" href="{{pathFor 'plantDetailsTemplate.show' }} ">{{plantName}}</a>
        <div class="meta">
          <span class="tempurature">55&deg;F 21&deg;C</span>
        </div>
        <div class="garden">
           Greenhouse
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          22
        </a>
      </div>
    </div>
  {{/each}}
</template>
<template name="createPlantsTemplate">
  <div class="main ui container">
    <div class="ui segment">
      <h2 class="ui dividing header">Create a new plant</h2>
        <form class="ui form" id="new-plant">
          <div class="inline required field">
            <label for="plantNameForm">Plant Name:</label>
            <input id="plantNameForm" type="text">
          </div>
          <div class="inline field">
            <label>Member of which Garden:</label>
            <select id="memberOfGardenForm">
              {{#each gardens}}
                <option value="{{gardenName}}">{{gardenName}}</option>
              {{/each}}
            </select>
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <label>Automate Plant</label>
              <input type="checkbox" tabindex="0" id="plantAutomatedCheckbox" />
            </div>
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <label>Monitor Plant</label>
              <input type="checkbox" tabindex="0" id="plantMonitoredCheckbox"  />
            </div>
          </div>
          <div class="ui styled accordion">
            <div class="title">
              <i class="dropdown icon"></i>
              Advanced
            </div>
            <div class="content">
              {{>advancedPlantCreateTemplate}}
            </div>
          </div>
          <p>
            <button class="ui button" id="savePlant" type="submit" tabindex="0"><i class="save icon"></i> Save</button>
          </p>
        </form>
      </div>
    </div>
</template>

<template name="advancedPlantCreateTemplate">



    <div class="row">
      <div class="input-field col s6">
        <label for="plantTempuraturePinForm" placeholder="Tempurature Probe Pin">Pin</label>
        <input id="plantTempuraturePinForm" type="text" class="validate">

      </div>
    </div>


    <div class="row">
      <div class="input-field col s3">
        <label for="plantLengthForm">Length: </label>
        <input id="plantLengthForm" type="text" class="validate">

      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <label for="plantWidthForm">Width: </label>
        <input id="plantWidthForm" type="text" class="validate">

      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="plantWaterForm" placeholder="In Ounces">Optimal Amout of Water: </label>
        <input id="plantWaterForm" type="text" class="validate">

      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="plantAirTempForm" placeholder="In degrees">Optimal Air Temperature: </label>
        <input id="plantAirTempForm" type="text" class="validate">

      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="plantSoilTempForm" placeholder="In degrees">Optimal Soil Temperature: </label>
        <input id="plantSoilTempForm" type="text" class="validate">

      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="plantLightForm" placeholder="In Lumens per Day">Optimal Amout of Light: </label>
        <input id="plantLightForm" type="text" class="validate">

      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="plantHumidityForm" placeholder="In percent">Optimal Amout of Humidity: </label>
        <input id="plantHumidityForm" type="text" class="validate">

      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="plantWindForm" placeholder="In miles per hour">Optimal Amout of Wind: </label>
        <input id="plantWindForm" type="text" class="validate">

      </div>
    </div>


</template>


<template name="advancedPlantEditTemplate">
  <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
    <li class>
      <div class="collapsible-header col s12">Advanced</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="input-field col s3">
              <input id="plantLengthForm" type="text" class="validate">
              <label for="plantLengthForm">Length: </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <input id="plantWidthForm" type="text" class="validate">
              <label for="plantWidthForm">Width: </label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input id="plantWaterForm" type="text" class="validate">
              <label for="plantWaterForm" placeholder="In Ounces">Optimal Amout of Water: </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="plantAirTempForm" type="text" class="validate">
              <label for="plantAirTempForm" placeholder="In degrees">Optimal Air Temperature: </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="plantSoilTempForm" type="text" class="validate">
              <label for="plantSoilTempForm" placeholder="In degrees">Optimal Soil Temperature: </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="plantLightForm" type="text" class="validate">
              <label for="plantLightForm" placeholder="In Lumens per Day">Optimal Amout of Light: </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="plantHumidityForm" type="text" class="validate">
              <label for="plantHumidityForm" placeholder="In percent">Optimal Amout of Humidity: </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="plantWindForm" type="text" class="validate">
              <label for="plantWindForm" placeholder="In miles per hour">Optimal Amout of Wind: </label>
            </div>
          </div>
        </div>
    </li>
  </ul>
</template>


<template name="plantDetailsTemplate">
  <div class="main ui container">
    <div class="ui segment">

        <h4>{{plantName}}</h4>
        <p>Created at: {{formatTime createdAt}}</p>
        <p>Last Edited: {{formatTime editedAt}}</p>


        <p>Member Of Garden: <a href="{{pathFor 'gardenInfoTemplate.show' }} ">{{memberOfGarden}}</a></p>
        <p>Length: {{plantLength}}ft.</p>
        <p>Width: {{plantWidth}}ft. </p>
        <p>Water: {{water}} oz.</p>
        <p>{{airTemp}} degrees</p>
        <p>{{soilTemp}} degrees</p>
        <p>{{light}} Lumens</p>
        <p>{{humidity}}%</p>
        <p>{{wind}}mph</p>
        <a class="waves-effect waves-light btn teal darken-1" href="{{pathFor 'editPlantDetailsTemplate.show' }} ">
          <i class="material-icons left"></i>Edit {{plantName}}</a>
      </div>

  </div>
</template>


<template name="editPlantDetailsTemplate">
  <div class="main ui container">
    <div class="ui segment">
        <div class="editForm">
            <h2 id="plantH2Title" class="createH2">Edit {{plantName}}</h2>
            <form class="form-horizontal" id="edit-plant">
              <div class="row">
                <div class="input-field col s6">
                  <input id="plantNameForm" type="text" length="25" class="validate" value="{{plantName}}" required>
                  <label class="active" for="plantNameForm">Plant Name:</label>
                </div>
                <p class="help-block"></p>
              </div>


              <div class="row">
                <div class="input-field col s6">
                  <select id="memberOfGardenForm">
                    {{#each gardens}}
                      <option value="{{gardenName}}">{{gardenName}}</option>
                    {{/each}}
                  </select>
                  <label>Member of which Garden</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input id="plantLengthForm" type="text" maxlength="2" class="validate" value="{{plantLength}}">
                  <label class="active" for="plantLengthForm">Length: </label>
                </div>
                <p class="help-block"></p>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="plantWidthForm" type="text" maxlength="2" class="validate" value="{{plantWidth}}">
                  <label class="active" for="plantWidthForm">Width: </label>
                </div>
                <p class="help-block"></p>
              </div>

              <p>
                <input type="checkbox" class="toggle-checked" id="plantMonitoredCheckbox" />
                <label for="plantMonitoredCheckbox">Is Monitored</label>
                <p class="help-block"></p>
              </p>
              <p>
                <input type="checkbox" id="plantAutomatedCheckbox" />
                <label for="plantAutomatedCheckbox">Is Automated</label>
                <p class="help-block"></p>
              </p>



              {{>advancedPlantEditTemplate}}
              <p>
                <button class="btn waves-effect waves-light" type="submit" name="action" id="savePlant">Save Plant
                  <i class="material-icons">save</i>
                </button>
                <a class="waves-effect waves-light btn" id="deletePlant">Delete Plant
                  <i class="material-icons">delete</i></a>
              </p>
            </form>

        </div>
      </div>
  </div>
</template>
