<template name="plantTypeTemplate">
  <div class="main ui container">
    <div class="ui segment">
      <h2 class="ui dividing header">Plant Taxonomy</h2>
      <form class="ui form" id="new-plant-Type">
        <div class="required field">
          <label>Plant Common Name:</label>
          <input id="plantTypeNameForm" type="text">
        </div>
        <div class="field">
          <label>Binomial name:</label>
          <input id="plantTypeBinomialNameForm" type="text">
        </div>
        <div class="field">
          <label>Plant Kingdom:</label>
          <input id="plantTypeKingdomForm" type="text">
        </div>
        <div class="field">
          <label>Plant Order:</label>
          <input id="plantTypeOrderForm" type="text">
        </div>
        <div class="field">
          <label>Plant Family:</label>
          <input id="plantTypeFamilyForm" type="text">
        </div>
        <div class="field">
          <label>Plant Genus:</label>
          <input id="plantTypeGenusForm" type="text">
        </div>
        <div class="field">
          <label>Plant Species:</label>
          <input id="plantTypeSpeciesForm" type="text">
        </div>
        <div class="field">
          <label>Plant Variety:</label>
          <input id="plantTypeVarietyForm" type="text">
        </div>

        <div class="ui icon button">
          <label>Plant Image:</label>
          <input type="file" id="plantImageForm" >
        </div>

        <p>
          <button class="ui button" id="savePlantType" type="submit" tabindex="0"><i class="save icon"></i> Save Plant Type</button>
          <button class="ui button" id="savePlantType" type="submit" tabindex="0"><i class="upload icon"></i> Load Plant Type</button>
        </p>
      </form>
    </div>
  </div>

</template>
