<template name="settingsTemplate">
	<h1>
		Settings
	</h1>


	<form id="new-plant-Type">
		<div class="row">

	<ul>
		{{#each settings}}
			<li class="settings">
                {{#if settingTypeIs "checkbox"}}
                    {{>settingsCheckbox}} {{name}}
                {{else}}
                    {{#if settingTypeIs "tzSelect"}}
                        {{name}} : {{> timezonePicker class="form-group" selected=timezone}}
                    {{else}}
                        {{#if settingTypeIs "tempSelect"}}
                            {{name}} : {{>settingsTempUnitsDropdown}}
                        {{else}}
                            {{#if settingTypeIs "Form"}}
                                {{name}} : {{>settingsForm}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
			</li>
		{{/each}}
	</ul>

</div>
</form>

    <p>
        <input type="submit" value="Save Settings">
    </p>
    <p>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"> Backup Data</span>
        </button>

    </p>

    {{>editFromSettings}}


</template>


<template name="settingsCheckbox">
	<input type="{{inputType}}" checked="{{isChecked}}" class="toggle-checked" value="{{_id}}" name="{{name}}" />
</template>


<template name="settingsTempUnitsDropdown">
	<select class="tempurature" id="tempSelect" name="tempName">
        {{#if tempSelectIs "Fahrenheit"}}
		    <option value="Fahrenheit" selected="Fahrenheit">Fahrenheit</option>
		    <option value="Celsius">Celsius</option>
        {{else}}
            <option value="Celsius" selected="Celsius">Celsius</option>
            <option value="Fahrenheit">Fahrenheit</option>
        {{/if}}
    </select>
</template>


<template name="editFromSettings">
    <p>Edit Plants</p>
    <p>Edit Gardens
        {{#each gardens}}
            <div class="gardenListAreaInSettings">
                <a class="gardenLinkInSettings" href="{{pathFor 'gardenDetails.show' }}/edit ">{{gardenName}}</a>
            </div>
	    {{/each}}
    </p>
</template>


<template name="settingsForm">

</template>
