<template name="settingsTemplate">
  <div class="main ui container">
    <div class="ui segment">
      <h2 class="ui dividing header">Settings</h2>
        <a href="{{pathFor 'devices.show' }}">Devices</a>
        <form class="ui form" id="settingsForm">
          <div class="inline required field">
            {{>temperatureUnitSelectTemplate}}
          </div>
          <p>
            <button class="ui button" id="saveSettings" type="submit" tabindex="0"><i class="save icon"></i> Save Settings</button>
            <button class="ui button" id="backupSettings" type="submit" tabindex="0"><i class="download icon"></i> Backup Data</button>
          </p>
        </form>
      </div>
    </div>
</template>

<template name="temperatureUnitSelectTemplate">
  <div class="inline field">
    <label>Tempurature Units:</label>
    <select id="tempUnitSelect">
      {{#if tempUnitIs "Fahrenheit"}}
        <option value="Fahrenheit" selected="selected">Fahrenheit</option>
        <option value="Celsius">Celsius</option>
      {{else}}
        {{#if tempUnitIs "Celsius"}}
          <option value="Fahrenheit">Fahrenheit</option>
          <option value="Celsius" selected="selected">Celsius</option>
        {{/if}}
      {{/if}}
    </select>
    {{tempUnitIs}}
  </div>
</template>
