<template name="settingsTemplate">
  <div class="main ui container">
    <div class="ui segment">
      <h2 class="ui dividing header">Settings</h2>
        <a href="{{pathFor 'devices.show' }}">Devices</a>
        <form class="ui tiny form" id="settingsForm">
          <div class="inline required field">
            {{>temperatureUnitSelectTemplate}}
          </div>
          <p>
            <button class="ui button" id="saveSettings" type="submit" tabindex="0"><i class="save icon"></i> Save Settings</button>
            <button class="ui button" id="backupSettings" type="submit" tabindex="0"><i class="download icon"></i> Backup Data</button>
          </p>
        </form>
      </div>
    </div>
</template>

<template name="temperatureUnitSelectTemplate">
  <div class="field">
    <label>Tempurature Units:</label>
    <div class="ui selection dropdown">
      <input type="hidden" name="tempUnitSelect" id="tempUnitSelect">
      <i class="dropdown icon"></i>
      <div class="default text">Tempurature Units</div>
      <div class="menu">
        {{#if tempUnitIs "Fahrenheit"}}
          <div class="item" data-value="Fahrenheit" selected="selected">Fahrenheit</div>
          <div class="item" data-value="Celsius">Celsius</div>
        {{else}}
          {{#if tempUnitIs "Celsius"}}
          <div class="item" data-value="Fahrenheit" >Fahrenheit</div>
          <div class="item" data-value="Celsius" selected="selected">Celsius</div>

          {{/if}}
        {{/if}}

      </div>

    </div>
  </div>
{{tempUnitIs}}







</template>
