<template name="plantsTemplate">
	{{>createPlants}}
</template>

<template name="createPlants">

    There have been <b>{{plantsCount}}</b> plants created. <br>
	{{#each plants}}
        <div class="plantsListArea">
            <a class="plantLink" href="{{pathFor 'plantDetails.show' }} ">{{plantName}}</a>
        </div>
	{{/each}}

	<h2>Create a new plant</h2>
    	<form class="new-plant">
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Plant Name: </label>
                <input type="text" maxlength="25" name="plantNameForm" placeholder="Name of new Plant" required/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">In which Garden: </label>
                <input type="text" maxlength="2" name="memberOfGardenForm" />
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Length: </label>
                <input type="text" maxlength="2" name="lengthForm" placeholder="In Feet" required/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Width: </label>
                <input type="text" maxlength="2" name="widthForm" placeholder="In Feet" required/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Is monitored: </label>
                <input type="checkbox" checked="true" class="toggle-checked" name="monitoredCheckbox"/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Is Automated: </label>
                <input type="checkbox" class="toggle-checked" name="automatedCheckbox"/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Optimal Amout of Water: </label>
                <input type="text" maxlength="2" name="waterForm" placeholder="In ounces per Day"/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Optimal Air Temperature: </label>
                <input type="text" maxlength="2" name="airTempForm" placeholder="In degrees"/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Optimal Soil Temperature: </label>
                <input type="text" maxlength="2" name="soilTempForm" placeholder="In degrees"/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Optimal Amout of Light: </label>
                <input type="text" maxlength="2" name="lightForm" placeholder="In Lumens per Day"/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Optimal Amout of Humidity: </label>
                <input type="text" maxlength="2" name="humidityForm" placeholder="In percent"/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Optimal Amout of Wind: </label>
                <input type="text" maxlength="2" name="windForm" placeholder="In miles per hour"/>
                <p class="help-block"></p>
            </div>
        </div>
        <p>
            <input type="submit" value="Add Plant">
        </p>

    </form>



</template>

<template name="plantDetailsTemplate">
    <h2>{{plantName}}</h2>
    <p>{{createdAt}}</p>
    <a href="{{pathFor 'editPlantDetails.show' }} ">Edit Plant?</a>
</template>


<template name="editPlantDetailsTemplate">

    <form class="edit-plantName">
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Plant Name: </label>
                <input type="text" maxlength="25" name="plantNameForm" placeholder="{{plantName}}" required/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Length: </label>
                <input type="text" maxlength="2" name="heightForm" placeholder="{{plantLength}}" required/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Width: </label>
                <input type="text" maxlength="2" name="widthForm" placeholder="{{planth2}}" required/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Is monitored: </label>
                <input type="checkbox" checked="true" class="toggle-checked" name="monitoredCheckbox"/>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="control-label">Is Automated: </label>
                <input type="checkbox" class="toggle-checked" name="automatedCheckbox"/>
                <p class="help-block"></p>
            </div>
        </div>

        <p>
            <input type="submit" value="Add Plant">
        </p>

    </form>


</template>
